@model DhofarAppWeb.Model.ViewModel.SubjectGeneralSubject
@{
    ViewData["Title"] = "List Subject Page";
    Layout = "~/views/Shared/_Layout.cshtml";
}



<div class="container-fluid main-content px-4">
    <div class="col-12 main-header px-2 px-md-5 py-2 rounded-3 d-flex justify-content-between align-items-center text-center flex-wrap">
        <h4 class="m-0 py-2">@Model.GeneralSubjectsType.Name_Ar <span class="green-background subject-type">عام</span></h4>
        <a class="btn comlaints-btn btn-sm px-2 px-md-4" asp-action="AddSubject" asp-controller="subject" asp-route-generalSubjectId="@Model.GeneralSubjectsType.Id"> أضف موضوع جديد <span><i class="fa-solid fa-plus"></i></span></a>
    </div>

    <div class="table-responsive mt-4">
        <table id="mytopics" class="table table-responsive table-hover text-center" style="width:100%">
            <thead>
                <tr>
                    <th>نوع الموضوع</th>
                    <th>تفاصيل الموضوع</th>
                    <th>التقييم</th>
                    <th>الردود</th>
                    <th>الزوار</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Subjects)
                {
                    <tr>
                        <td>
                            @foreach (var type in item.SubjectTypeSubjects)
                            {
                                @type.SubjectType.Name_Ar
                            }
                        </td>
                        <td>@item.Title <br><span class="username-table">@item.User.UserName</span></td>
                        <td>
                            <div class="row align-items-center progress-section">
                                <div class="col-auto p-0 d-flex align-items-center">
                                    <i class="fa-regular fa-face-frown navy"></i>
                                </div>
                                <div class="col px-2">
                                    <div class="progress">
                                        @{
                                            // Calculate total votes (likes + dislikes)
                                            int totalVotes = item.LikeCounter + item.DisLikeCounter;

                                            // Calculate the percentage of likes
                                            int likePercentage = totalVotes > 0 ? (item.LikeCounter * 100) / totalVotes : 0;
                                        }
                                        <div class="progress-bar custom-progress-color" role="progressbar"
                                             style="width: @likePercentage%;" aria-valuenow="@likePercentage" aria-valuemin="0"
                                             aria-valuemax="100">
                                           
                                        </div>
                                    </div>
                                </div>
                                <div class="col-auto p-0 d-flex align-items-center justify-content-end">
                                    <i class="fa-regular fa-face-smile navy"></i>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="circle-container">
                                @foreach (var comment in item.CommentSubjects)
                                {
                                    @if (comment.User.ImageURL!= null)
                                    {
                                        <span class="circle">
                                            <img src="~/@comment.User.ImageURL"
                                                 class="subject-user-img">
                                        </span>
                                    }
                                    else
                                    {

                                        <span class="circle">
                                            <img src=@Url.Content("~/images/subject-user-img.svg") class="subject-user-img">
                                        </span>

                                    }

                            }
                                @item.CommentSubjects.Count ردود

                            </div>
                        </td>
                        <td>@item.VisitorCounter زائر</td>
                    </tr>
                }
                @*   <tr>
                <td></td>
                <td>إعادة تأهيل الحدائق العامة <br><span class="username-table">Um_Ali_2020</span></td>
                <td>
                <div class="row align-items-center progress-section">
                <div class="col-auto p-0 d-flex align-items-center">
                <i class="fa-regular fa-face-frown navy"></i>
                </div>
                <div class="col px-2">
                <div class="progress">
                <div class="progress-bar custom-progress-color" role="progressbar"
                style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                </div>
                </div>
                </div>
                <div class="col-auto p-0 d-flex align-items-center justify-content-end">
                <i class="fa-regular fa-face-smile navy"></i>
                </div>
                </div>
                </td>
                <td>
                <div class="circle-container">
                <span class="circle"></span>
                <span class="circle">
                <img src=@Url.Content("~/images/subject-user-img.svg")
                class="subject-user-img">
                </span>
                <span class="circle"></span>
                ٣ ردود

                </div>
                </td>
                <td>٣١٦٣ زائر</td>
                </tr>
                <tr>
                <td>المقترحات</td>
                <td>شارع النجاح بين الواقع والمفترض. <br><span class="username-table">محمد آل إبراهيم</span></td>
                <td>
                <div class="row align-items-center progress-section">
                <div class="col-auto p-0 d-flex align-items-center">
                <i class="fa-regular fa-face-frown navy"></i>
                </div>
                <div class="col px-2">
                <div class="progress">
                <div class="progress-bar custom-progress-color" role="progressbar"
                style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                </div>
                </div>
                </div>
                <div class="col-auto p-0 d-flex align-items-center justify-content-end">
                <i class="fa-regular fa-face-smile navy"></i>
                </div>
                </div>
                </td>
                <td>
                <div class="circle-container">
                ٠ ردود
                </div>
                </td>
                <td>٣٨٧ زائر</td>
                </tr>
                <tr>
                <td>البيئة</td>
                <td>المقترحات<br> <span class="username-table">Salim Ali AlShahri</span></td>
                <td>
                <div class="row align-items-center progress-section">
                <div class="col-auto p-0 d-flex align-items-center">
                <i class="fa-regular fa-face-frown navy"></i>
                </div>
                <div class="col px-2">
                <div class="progress">
                <div class="progress-bar custom-progress-color" role="progressbar"
                style="width: 50%;" aria-valuenow="50" aria-valuemin="0"
                aria-valuemax="100">
                </div>
                </div>
                </div>
                <div class="col-auto p-0 d-flex align-items-center justify-content-end">
                <i class="fa-regular fa-face-smile navy"></i>
                </div>
                </div>
                </td>
                <td>
                <div class="circle-container">
                <span class="circle">
                <img src=@Url.Content("~/images/subject-user-img.svg")
                class="subject-user-img">
                </span>
                <span class="circle"></span>
                ٢ ردود
                </div>
                </td>
                <td>٣٩٣٢ زائر</td>
                </tr> *@
                <tr>
            </tbody>
        </table>
    </div>
</div>

